<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Employee_id</th>
            <th>Name</th>
            <th>Email</th>
            <th>PhoneNo</th>
            <th>Address</th>
            <th>Role</th>
        </tr>
        <thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{employee.employee_id}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.phone_number}}</td>
                    <td>{{employee.address}}</td>
                    <td>{{employee.role}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>
</body>
</html>