<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Register</h2>
            <form method="post" class="form-group">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Enter Username" required class="form-control input-sm"/><br>
                <input type="email" name="email" placeholder="Enter Email" required class="form-control input-sm"/><br>
                <input type="password" name="password" placeholder="Enter Password" required class="form-control input-sm"/><br>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required class="form-control input-sm"/><br>
                <input type="submit" value="Register" class="btn btn-success btn-sm"/>
            </form>
            <!-- Login Navigation Link -->
            <p>Already have an account? <a href="{% url 'login' %}" class="btn btn-link">Login here</a></p>
            
            {% if message %}
            <p style="color:red">{{message}}</p>
            {% endif %}
        </div>
    </body>
</html>
